//
// Grid Custom
//

// Columns
$column-sm: 4 !default;
$column-md: 8 !default;
$column-lg: 12 !default;


// Gutters
$gutter-01: 1rem;
$gutter-02: 1.5rem;


// Margins
$margin-01: 6.25%;
$margin-02: 8.3333333%;


// Container
$container-sm: 48rem; // 768px
$container-md: 85.375rem; // 1366px
$container-lg: 100%; // Full
