//
// Text
//

// Common
* {
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


// Heading
@each $heading in $headings {
	$i: index($headings, $heading);

	h#{$heading}, .text-h#{$heading} {
		font-size: nth($font-size-mobile, $i);
    font-weight: map-get($font-weight, regular);
    letter-spacing: nth($letter-spacing, $i);
    line-height: map-get($line-height, heading);
    @include media-query {
      font-size: nth($font-size-laptop, $i);
    }
	}
}


// Heading English
@each $heading-en in $headings-en {
	$i: index($headings-en, $heading-en);

	.text-h#{$heading-en}--en {
		font-size: nth($font-size-mobile-en, $i);
    font-weight: map-get($font-weight, regular);
    letter-spacing: nth($letter-spacing-en, $i);
    line-height: map-get($line-height, heading);
    @include media-query {
      font-size: nth($font-size-laptop-en, $i);
    }
	}
}


// Body
body, p, a, dl, dd, ul, ol, li, table, th, td, tr, input, button, optgroup, select, textarea, label, code, pre, .text-body {
  font-family: $default-font;
  font-size: map-get($body, font-size);
  font-weight: map-get($font-weight, light);
  letter-spacing: map-get($body, letter-spacing);
  line-height: map-get($line-height, default);
}


// Caption
.text-caption {
  font-size: map-get($caption, font-size);
  font-weight: map-get($font-weight, light);
  letter-spacing: map-get($caption, letter-spacing);
  line-height: map-get($line-height, default);
}


// Ornament
sub, sup, .text-sup {
  font-size: map-get($sup, font-size);
  font-weight: map-get($font-weight, light);
  letter-spacing: map-get($sup, letter-spacing);
  line-height: map-get($line-height, default);
}


// Heading
.heading {
  font-family: $theme-font;
}
