//
// Font Families
//

$default-font: 'Noto Sans JP', "Helvetica Neue", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;


//
// Font Size
//

$font-size-base: 1rem !default;


// Heading Default
$headings: 1, 2, 3, 4, 5, 6; // h tags
$font-size-mobile: $font-size-base * 1.5, $font-size-base * 1.25, $font-size-base * 1.125, $font-size-base, $font-size-base * 0.9375, $font-size-base * 0.875;
$font-size-laptop: $font-size-base * 2, $font-size-base * 1.5, $font-size-base * 1.25, $font-size-base * 1.125, $font-size-base * 1.0625, $font-size-base,;
$letter-spacing: 0, $font-size-base * 0.015, $font-size-base * 0.05, $font-size-base * 0.05, $font-size-base * 0.05, $font-size-base * 0.05;


// Heading English
$headings-en: 1, 2, 3, 4, 5; // h tags
$font-size-mobile-en: $font-size-base * 1.8, $font-size-base * 1.5, $font-size-base * 1.35, $font-size-base * 1.2, $font-size-base * 1.125;
$font-size-laptop-en: $font-size-base * 2.4, $font-size-base * 1.8, $font-size-base * 1.5, $font-size-base * 1.35, $font-size-base * 1.275;
$letter-spacing-en: 0, $font-size-base * 0.015, $font-size-base * 0.05, $font-size-base * 0.05, $font-size-base * 0.05;


// Body
$body: (
  font-size: $font-size-base * 0.875,
  letter-spacing: $font-size-base * 0.075
);


// Caption
$caption: (
  font-size: $font-size-base * 0.75,
  letter-spacing: $font-size-base * 0.075
);


// Subscript, Superscript
$sup: (
  font-size: $font-size-base * 0.625,
  letter-spacing: $font-size-base * 0.075
);


//
// Font Weight
//

$font-weight: (
  light: 300,
  regular: 400,
  bold: 700
) !default;


//
// Line Height
//

$line-height: (
  heading: 1.35,
  default: 1.5
) !default;
