//
// Breadcrumb
//

.breadcrumb {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: $space-01;

    &::after {
      color: $third;
      content: '/';
      margin-left: $space-01;
      @include motion(color, 100ms, on);
    }

    &:hover::after {
      color: $primary;
    }
  }

  &__item--current .breadcrumb__item-link {
    color: $primary !important;
    pointer-events: none;
  }

  &__item-link {
    color: $third;
    @include motion(color, 100ms, on);

    &:hover {
      color: $primary;
    }
  }
}
