//
// Dropdown
//

.dropdown {
  position: relative;
  display: block;
  cursor: pointer;
  min-width: 8rem;
  width: 100%;

  &--disabled {
    cursor: not-allowed;
  }

  &--disabled .dropdown__btn {
    background-color: $disabled-01 !important;
    color: $disabled-02 !important;
    pointer-events: none;
  }

  &--invalid {
    .dropdown__btn {
      outline: $border-weight-bold solid $invalid !important;
    }
  }

  &__btn {
    position: relative;
    display: block;
    background-color: $background-input;
    border: none;
    border-radius: 0;
    width: 100%;
    padding: $space-02 $space-05 $space-02 $space-03;
    outline: $border-weight-bold solid transparent;
    outline-offset: -$border-weight-bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include motion(background-color, 100ms, on);

    &::after {
      @include absolute($top: 50%, $right: $space-03);
      @include icons;
      transform: translateY(-50%);
      content: $chevron_down;
      pointer-events: none;
    }

    &:hover {
      background-color: $hover-02;
    }
  }

  &__btn--expanded {
    &::after {
      content: $chevron_up;
    }

    &:hover {
      background-color: $hover-02 !important;
    }
  }

  &__btn--expanded+.dropdown__list {
    border-color: $border-01;
    max-height: 100rem;
  }

  &__list {
    @include absolute;
    display: flex;
    flex-direction: column;
    border-top: $border-weight solid transparent;
    max-height: 0;
    width: 100%;
    overflow: hidden;
    @include motion((max-height, border-color), (100ms, 100ms), on);
    z-index: 1;
  }

  &__item {
    background-color: $background-input;
    @include motion(background-color, 100ms, on);

    &:hover {
      background-color: $hover-02;
    }
  }

  &__item+.dropdown__item .dropdown__item-link {
    &::before {
      @include absolute($top: 0, $left: $space-03);
      background-color: $background-input;
      content: '';
      height: $border-weight;
      width: calc(100% - #{$space-03} * 2);
    }
  }

  &__item--selected .dropdown__item-link {
    display: none;
  }

  &__item-link {
    position: relative;
    display: block;
    padding: $space-02 $space-03;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
