//
// Link
//

.link {
  box-shadow: 0 $border-weight currentColor;
  @include motion(box-shadow, 100ms, on)

  &:hover {
    box-shadow: 0 $border-weight-bold currentColor;
  }

  &--disabled, &[aria-disabled="true"] {
    box-shadow: none;
    color: $disabled-02 !important;
    cursor: not-allowed;
  }
}
