//
// List
//

.list {

  &__item {
    position: relative;
    display: block;
    overflow: hidden;
  }

  &__item-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: $space-01 0;
  }

  &__item-content--multiple-line {
    align-items: flex-start;
    padding: $space-02 0;
  }

  &__item-content--multiple-line .list__text--left-icon {
    padding-left: $space-03 !important;
  }

  &__item-content--underline {
    border-bottom: $border-weight solid $border-01;
    padding: $space-03 0 !important;
  }
}


//
// List text
//

.list__item-text {
  overflow: hidden;

  &--left-icon {
    padding-left: $space-01;
  }

  &--right-icon {
    margin-right: auto;
    padding-right: $space-03;
  }
}


// List primary text
.list__item-primary-text {
  color: $primary;
}


// List secondary text
.list__item-secondary-text {
  color: $secondary;
  margin-top: $space-01;
}


//
// List link
//

.list__item-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: $space-01 $space-03;

  &:hover {
    background-color: $hover-01;
  }

  &--underline {
    border-bottom: $border-weight solid $border-01;
    padding: $space-03 !important;
  }

  &--multiple-line {
    align-items: flex-start;
    padding: $space-02 $space-03;
  }

  &--multiple-line .list__text--left-icon {
    padding-left: $space-03 !important;
  }
}
