//
// Button
//

.btn {
  @include btn;

  &:disabled {
    background-color: $disabled-01 !important;
    color: $disabled-02 !important;
  }
}


//
// Line button
//

.line-btn {
  @include btn($background-color: transparent, $color: $primary);
  border: $border-weight solid $primary;

  &:disabled {
    background-color: $disabled-01 !important;
    border: none;
    color: $disabled-02 !important;
  }
}


//
// Clear button
//

.clear-btn {
  @include btn($background-color: transparent, $color: $primary);

  &:disabled {
    color: $disabled-02 !important;
  }
}


//
// Icon button
//

.icon-btn {
  display: inline-flex !important;
  align-items: center;
  flex-wrap: wrap;
  min-width: unset;
  vertical-align: middle;
}


//
// Button size
//

.btn--sm {
  min-width: inherit;
  padding: $space-01 $space-03;

  &:disabled > .btn__text::after {
    content: none;
  }

  .btn__text::after {
    bottom: 0;
  }
}

.btn--lg {
  display: block;
  width: 100%;
}


//
// Button text
//

.btn__text {
  position: relative;
  pointer-events: none;

  &::after {
    @include absolute($bottom: -0.125rem, $left: 0);
    background-color: currentColor;
    content: '';
    height: $border-weight;
    width: 100%;
    opacity: 0;
    @include motion(opacity, 100ms, on);
  }

  &--left-icon {
    margin-left: $space-01;
  }

  &--right-icon {
    margin-right: $space-01;
  }
}
