//
// Structured list
//

.structured-list {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;

  &__thead {
    display: table-header-group;
    border-bottom: $border-weight solid $primary;
  }

  &__tbody {
    display: table-row-group;
  }

  &__tbody .structured-list__row {
    border-bottom: $border-weight solid $border-01;
  }

  &__row {
    position: relative;
    display: table-row;
  }

  &__col-section {
    display: table-cell;
    padding: $space-01 $space-03 $space-03;
  }

  &__col-title, &__col-content {
    display: table-cell;
    padding: $space-03 $space-03 $space-04;
  }
}
