//
// Icons Custom
//

$arrow_down_circle_filled: '\a001';
$arrow_down_circle: '\a002';
$arrow_down: '\a003';
$arrow_left_circle_filled: '\a004';
$arrow_left_circle: '\a005';
$arrow_left: '\a006';
$arrow_right_circle_filled: '\a007';
$arrow_right_circle: '\a008';
$arrow_right: '\a009';
$arrow_up_circle_filled: '\a010';
$arrow_up_circle: '\a011';
$arrow_up: '\a012';
$cart: '\a013';
$checkbox_checked_filled: '\a014';
$checkbox_checked: '\a015';
$checkbox_ind_filled: '\a016';
$checkbox_ind: '\a017';
$checkbox: '\a018';
$chevron_down: '\a019';
$chevron_left: '\a020';
$chevron_right: '\a021';
$chevron_up: '\a022';
$circle_filled: '\a023';
$circle: '\a024';
$close_circle_filled: '\a025';
$close_circle: '\a026';
$close: '\a027';
$copy: '\a028';
$diamond_filled: '\a029';
$diamond: '\a030';
$error_filled: '\a031';
$error: '\a032';
$external_link: '\a033';
$heart_filled: '\a034';
$heart: '\a035';
$mail: '\a036';
$menu: '\a037';
$play_filled: '\a038';
$play: '\a039';
$plus_circle_filled: '\a040';
$plus_circle: '\a041';
$radio_button_selected: '\a042';
$radio_button: '\a043';
$search: '\a044';
$shop: '\a045';
$star_filled: '\a046';
$star: '\a047';
$user: '\a048';


//
// Sns
//

$facebook: '\b001';
$github: '\b002';
$instagram: '\b003';
$twitter: '\b004';
$youtube: '\b005';
