//
// CIRCL Color Palettes
//

// Red
$red-100: #f7ebed;
$red-200: #fdd4da;
$red-300: #fcafc0;
$red-400: #fb637e;
$red-500: #f4364c;
$red-600: #ef3340;
$red-700: #cb333b;
$red-800: #a4343a;
$red-900: #643335;


// Warm Red
$warm-red-100: #fcf6f5;
$warm-red-200: #ffdde2;
$warm-red-300: #ffb1bb;
$warm-red-400: #ff808b;
$warm-red-500: #ff585d;
$warm-red-600: #f9423a;
$warm-red-700: #e03c31;
$warm-red-800: #be3a34;
$warm-red-900: #81312f;


// Orange
$orange-100: #fdf2d6;
$orange-200: #f9dabb;
$orange-300: #ffae62;
$orange-400: #ff8f1c;
$orange-500: #ff6900;
$orange-600: #fe5000;
$orange-700: #b94700;
$orange-800: #94450b;
$orange-900: #653819;


// Light Orange
$light-orange-100: #f8f2ce;
$light-orange-200: #f4ef9e;
$light-orange-300: #f3dd6d;
$light-orange-400: #f3d54e;
$light-orange-500: #f3d03e;
$light-orange-600: #f2a900;
$light-orange-700: #cc8a00;
$light-orange-800: #a07400;
$light-orange-900: #6c571b;


// Yellow
$yellow-100: #fdf8e1;
$yellow-200: #f6f2b0;
$yellow-300: #f6eb61;
$yellow-400: #f7ea48;
$yellow-500: #fce300;
$yellow-600: #fedd00;
$yellow-700: #c5a900;
$yellow-800: #af9800;
$yellow-900: #897a27;


// Light Green
$light-green-100: #f3f6e0;
$light-green-200: #e3ebb5;
$light-green-300: #c2e189;
$light-green-400: #b7dd79;
$light-green-500: #a4d65e;
$light-green-600: #78be20;
$light-green-700: #64a70b;
$light-green-800: #658d1b;
$light-green-900: #546223;


// Green
$green-100: #e8f3ee;
$green-200: #dfefea;
$green-300: #a7e6d7;
$green-400: #8ce2d0;
$green-500: #3cdbc0;
$green-600: #00ab84;
$green-700: #009775;
$green-800: #007b5f;
$green-900: #00664f;


// Light Blue
$light-blue-100: #f0f6f7;
$light-blue-200: #cee7ee;
$light-blue-300: #9adbe8;
$light-blue-400: #59cbe8;
$light-blue-500: #00b5e2;
$light-blue-600: #0085ca;
$light-blue-700: #006ba6;
$light-blue-800: #00587c;
$light-blue-900: #003b49;


// Blue
$blue-100: #e2e9f2;
$blue-200: #d1e1f0;
$blue-300: #c3d7ee;
$blue-400: #a7c6ed;
$blue-500: #307fe2;
$blue-600: #10069f;
$blue-700: #001a72;
$blue-800: #001e60;
$blue-900: #13294b;


// Purple
$purple-100: #efedf1;
$purple-200: #dcd6e6;
$purple-300: #c5b4e3;
$purple-400: #ad96dc;
$purple-500: #9678d3;
$purple-600: #7d55c7;
$purple-700: #409;
$purple-800: #330072;
$purple-900: #2e1a47;


// Light Purple
$light-purple-100: #fcf6f5;
$light-purple-200: #eedfe9;
$light-purple-300: #e7bae4;
$light-purple-400: #dd9cdf;
$light-purple-500: #c964cf;
$light-purple-600: #bb29bb;
$light-purple-700: #ad1aac;
$light-purple-800: #981d97;
$light-purple-900: #72246c;


// Pink
$pink-100: #f3e2e9;
$pink-200: #efd6de;
$pink-300: #eabedb;
$pink-400: #e56db1;
$pink-500: #da1884;
$pink-600: #ce0058;
$pink-700: #a50050;
$pink-800: #910048;
$pink-900: #6c1d45;


// Cool Gray
$cool-gray-100: #edf0ed;
$cool-gray-200: #dde4e6;
$cool-gray-300: #d0d3d4;
$cool-gray-400: #c1c6c8;
$cool-gray-500: #a2aaad;
$cool-gray-600: #7c878e;
$cool-gray-700: #5b6770;
$cool-gray-800: #333f48;
$cool-gray-900: #1d252d;


// Gray
$gray-100: #f2f1f0;
$gray-200: #dbdcdb;
$gray-300: #c7c9c7;
$gray-400: #b2b4b2;
$gray-500: #9ea2a2;
$gray-600: #898d8d;
$gray-700: #707372;
$gray-800: #54585a;
$gray-900: #25282a;


// Black
$black: #000;


// White
$white: #fff;
